.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Shrikhand', cursive;
    font-size: 1rem;
    pointer-events: none;
    margin-bottom: 8px;
        .logo__page {
            height: 50px;
        }
}
