.header__fond-0 {
    width: 100%;
    height: 280px;
    background: no-repeat url("./images/A\ la\ française\ page.jpg");
    background-size: cover;
}

.header__fond-1 {
    width: 100%;
    height: 280px;
    background: no-repeat url("./images/La\ note\ enchantée.jpg");
    background-size: cover;
    background-position: center;
}

.header__fond-2 {
    width: 100%;
    height: 280px;
    background: no-repeat url("./images/La\ palette\ du\ goût.jpg");
    background-size: cover;
    background-position: center;
}

.header__fond-3 {
    width: 100%;
    height: 280px;
    background: no-repeat url("./images/Le\ délice\ des\ sens.jpg");
    background-size: cover;
    background-position: center;
}